
.containerCat{
	padding-top:35px;
	padding-left:270px;
	width:620px;
}
.balanzCont{
	width:620px;		
}	
.maquinaCont{
	width:620px;
}
.marco{
	height: 190px;
	width:620px;
	border:1px solid #DC1D00;
	box-shadow: 2px 2px 0px #DC1D00;
	margin-bottom:18px;
}

.pic{
	
	height: 140px;
	width: 200px;
	margin-left:10px;
	margin-top: 35px;
	border:1px solid #0066FF;
	box-shadow: 2px 2px 0px #0066FF;
}

.verCom{
	float: right;
	margin-right: 30px;
	margin-top: 50px;
	font-size:12px;
}

.verComMaq{
	float: right;
	margin-right: 2px;
	margin-top: -33px;
	font-size:12px;
}

.nombre{
	margin-left:8px;
	margin-top: 5px;
	float:left;
	text-decoration:underline;
}

.imgEx{
	margin-top: -5px;
	float:left;
}

/* POR FA AQUÍ PONLE UN HOVER SOBRE LA IMAGEN ESTUVE INTENTANDO Y NO ME SALIÓ */
/* .imgEx a:hover {
	border:22px solid red;
} */

.description{

  text-align:justify;
  width:300px;
  float:right;
  padding-top:27px;
  padding-right:40px;
  font-weight:bold;
  }
 
 .leftmenu ul li ul li a:link, .leftmenu ul li ul li a:visited{
	display: block;
	width:202px;
	text-decoration:none;
	color: white;
	padding-left:35px;
	border:solid #7F5D36 1px;
	background-color:#CC9966;
	box-shadow: 3px 3px 0px #7F5D36;
}

.leftmenu ul li ul li a:hover{
	background-color:black;
}

.num{
	padding-left: 580px;
	
}